// Font Family
@font-face {
  src: url("../fonts/CircularStd-Bold.woff");
  font-family: 'Circular Bold';
}

@font-face {
  src: url("../fonts/CircularStd-Book.woff");
  font-family: 'Circular Book';
}

@font-face {
  src: url("../fonts/Nitti-Grotesk-SemiLight.woff");
  font-family: 'Nitti Grotesk Semi';
}

// Declare Variable
$bgColor: linear-gradient(90deg, rgba(144, 10, 34, 1) 0%, rgba(202, 48, 45, 1) 100%);

// Global Class
.bg-theme {
  background: $bgColor;
}

.text-theme {
  color: rgba(144, 10, 34, 1);
  //background: $bgColor;
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
}

.btn-theme {
  background: $bgColor;
  color: #ffffff;
  font-family: 'Circular Book';
  border-radius: 1.5rem;


  &:hover {
    background: linear-gradient(90deg, rgba(10, 141, 144, 1) 0%, rgba(88, 202, 45, 1) 100%);
    color: #ffffff;
  }
}

.btn-theme-text {
  font-family: 'Circular Bold';
  color: rgba(144, 10, 34, 1);
  //background: $bgColor;
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
}

.navbar_wrapper {
  .site_navbar {
    width: 100%;
    height: 80px;
    background: $bgColor;
    box-sizing: border-box;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site_navbar_brand {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 15px;

      a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Circular Book';
        font-size: 2rem;
      }

      .mobileNavToggler {
        display: none;
        color: #ffffff;
        font-family: 'Circular Book';
      }
    }

    .site_navbar_nav {
      .nav-item.dropdown {
        position: relative;

        .dropdown_nav {
          width: 200px;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 60px;
          background: $bgColor;
          display: none;

          .dropdown_nav_item {
            color: #ffffff;
            font-family: "Circular Book";
            text-decoration: none;
            font-size: 1rem;
            display: block;
            padding: 10px;
            border-top: 1px solid crimson;

            &:first-child {
              border-top: 0;
            }

            &:hover {
              background: linear-gradient(90deg, rgba(10, 141, 144, 1) 0%, rgba(88, 202, 45, 1) 100%);
            }
          }
        }
      }

      .nav-link {
        font-family: 'Circular Book';
        color: #ffffff;
        transition-property: color;
        transition-duration: .5s;

        .dropdown_icon {
          font-size: 10px;
          position: relative;
          top: -3px;
        }

        span {
          margin-left: 5px;
        }

        &:hover {
          color: rgba(10, 141, 144, 1);
        }
      }
    }
  }
}

.site_navbar_mobile_nav {
  display: none;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background: $bgColor;
  z-index: 2000;
  overflow: auto;

  .nav {
    .brand {
      position: relative;

      .nav-link {
        font-family: 'Circular Book';
        font-size: 2.5rem;
        text-align: center;
      }

      .site_navbar_mobile_nav_close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    .nav-item {
      width: 100%;
    }

    .nav-item.dropdown {
      .dropdown_nav {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        display: none;

        .dropdown_nav_item {
          color: #ffffff;
          font-family: "Circular Book";
          text-decoration: none;
          font-size: 1rem;
          display: block;
          padding: 10px;
          border-top: 1px solid crimson;

          &:first-child {
            border-top: 0;
          }

          &:hover {
            background: linear-gradient(90deg, rgba(10, 141, 144, 1) 0%, rgba(88, 202, 45, 1) 100%);
          }
        }
      }
    }

    .nav-link {
      font-family: 'Circular Book';
      font-size: 1.2rem;
      color: #ffffff;
      padding: 20px;

      .dropdown_icon {
        font-size: 10px;
        position: relative;
        top: -3px;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        color: #0a8d90;
      }
    }
  }
}

@media(max-width: 972px) {
  .navbar_wrapper {
    .site_navbar_brand {
      flex: 1;

      .mobileNavToggler {
        display: block !important;
      }
    }

    .site_navbar_nav {
      display: none;
    }
  }
}

@media(max-width: 767px) {
  .site_navbar_mobile_nav {
    width: 100%;
  }
}

// Hero Wrapper
.hero_wrapper {
  background: #ffffff url("../img/aussie-hero-image.png") no-repeat top center scroll;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  .card {
    border-radius: 1rem;
    overflow: hidden;
    transition-property: background, color;
    transition-duration: 1s;

    .card-body {
      h2 {
        font-family: 'Circular Bold';
        margin-bottom: .5rem;
      }

      h5 {
        font-family: 'Nitti Grotesk Semi';
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
    }
  }
}

// Hero Wrapper Media Query
@media(max-width: 767px) {
  .hero_wrapper {
    padding-bottom: 2rem;
  }
}

@media(max-width: 450px) {
  .hero_wrapper {
    height: 500px;
    padding-bottom: 2.5rem;

    .card-body {
      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media(max-width: 380px) {
  .hero_wrapper {
    height: 500px;
    padding-bottom: 1.5rem;

    .card-body {
      h2 {
        font-size: 2.3rem;
      }
    }
  }
}


@media(max-width: 374px) {
  .hero_wrapper {
    height: 90vh;
    padding-bottom: 2rem;

    .card-body {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

.service_wrapper {
  .card {
    position: relative;
    cursor: pointer;
    top: 0;
    transition-property: top;
    transition-duration: .5s;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      border-bottom: 3px solid rgba(202, 48, 45, 1) !important;
      top: -10px;

      .card-img-top {
        .service_icon {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .card-img-top {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .service_icon {
        background: #ffffff;
        padding: 1rem 1.4rem;
        bottom: -20px;
        left: 20px;
        border-radius: 50%;
        transition-duration: .5s;
        transition-property: left;
      }
    }

    .card-body {
      h5 {
        font-family: 'Circular Bold';
      }

      p {
        font-family: 'Nitti Grotesk Semi';
        font-size: 1.1rem;
      }
    }
  }
}

.calculation_wrapper {
  .card {
    background: #ffffff url("../img/Home-Loan.jpg") no-repeat top center scroll;
    background-size: cover;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;

    .card-body {
      h1 {
        font-family: 'Circular Bold';
        margin-bottom: 1.5rem;
      }
    }
  }
}


.banner_section {
  width: 100%;
  height: 300px;
  background: url("../img/Home-Loan.jpg") no-repeat top center fixed;
  background-size: cover;
  object-fit: cover;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(144, 10, 34, 1) 0%, rgba(202, 48, 45, 0.44021358543417366) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer_wrapper {
  .footer_item {

    h5 {
      font-family: 'Circular Book';
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 1.5rem;

      &::after {
        content: '';
        width: 10%;
        height: 2px;
        background: $bgColor;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .nav {
      .nav-item {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        .nav-link {
          font-family: 'Nitti Grotesk Semi';
          padding: 0;
        }
      }

    }
  }

  .copyright {
    p {
      font-family: 'Nitti Grotesk Semi';
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      text-align: justify;
    }
  }
}

.contact_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity;
  transition-duration: 2s;

  .contact_modal {
    width: 70%;
    height: 80%;
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    .contact_modal_close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2000;

      .btn {
        border-bottom-left-radius: 15px;
      }
    }

    .contact_modal_content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;


      .modal_title {
        font-family: 'Circular Bold';
      }

      .modal_suggestion {
        font-family: 'Nitti Grotesk Semi';
      }

      #contactFormAccordion {
        .card {
          .card-body {
            h6 {
              font-family: 'Circular Book';
            }

            .form-group {
              label {
                font-family: 'Nitti Grotesk Semi';
              }

              .form-control {
                font-family: 'Nitti Grotesk Semi';
              }

              .contact_form_check {
                input[type='checkbox'], input[type='radio'] {
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  cursor: pointer;
                  outline: 0;
                }

                display: inline-block;
                font-family: 'Nitti Grotesk Semi';
                padding: .4rem 1rem;
                border-radius: 1.5rem;
                border: 1px solid #000000;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                user-select: none;
                position: relative;
                overflow: hidden;

              }
            }
          }

          .card-footer {
            text-align: right;
            background: #ffffff;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .contact_modal {
    width: 95% !important;
  }
}