@font-face {
  src: url("../fonts/CircularStd-Bold.woff");
  font-family: "Circular Bold";
}
@font-face {
  src: url("../fonts/CircularStd-Book.woff");
  font-family: "Circular Book";
}
@font-face {
  src: url("../fonts/Nitti-Grotesk-SemiLight.woff");
  font-family: "Nitti Grotesk Semi";
}
.bg-theme {
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
}

.text-theme {
  color: #900a22;
}

.btn-theme {
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
  color: #ffffff;
  font-family: "Circular Book";
  border-radius: 1.5rem;
}
.btn-theme:hover {
  background: linear-gradient(90deg, #0a8d90 0%, #58ca2d 100%);
  color: #ffffff;
}

.btn-theme-text {
  font-family: "Circular Bold";
  color: #900a22;
}

.navbar_wrapper .site_navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
  box-sizing: border-box;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_wrapper .site_navbar .site_navbar_brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navbar_wrapper .site_navbar .site_navbar_brand a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Circular Book";
  font-size: 2rem;
}
.navbar_wrapper .site_navbar .site_navbar_brand .mobileNavToggler {
  display: none;
  color: #ffffff;
  font-family: "Circular Book";
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-item.dropdown {
  position: relative;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-item.dropdown .dropdown_nav {
  width: 200px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 60px;
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
  display: none;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item {
  color: #ffffff;
  font-family: "Circular Book";
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 10px;
  border-top: 1px solid crimson;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item:first-child {
  border-top: 0;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item:hover {
  background: linear-gradient(90deg, #0a8d90 0%, #58ca2d 100%);
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-link {
  font-family: "Circular Book";
  color: #ffffff;
  transition-property: color;
  transition-duration: 0.5s;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-link span {
  margin-left: 5px;
}
.navbar_wrapper .site_navbar .site_navbar_nav .nav-link:hover {
  color: #0a8d90;
}

.site_navbar_mobile_nav {
  display: none;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
  z-index: 2000;
  overflow: auto;
}
.site_navbar_mobile_nav .nav .brand {
  position: relative;
}
.site_navbar_mobile_nav .nav .brand .nav-link {
  font-family: "Circular Book";
  font-size: 2.5rem;
  text-align: center;
}
.site_navbar_mobile_nav .nav .brand .site_navbar_mobile_nav_close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.site_navbar_mobile_nav .nav .nav-item {
  width: 100%;
}
.site_navbar_mobile_nav .nav .nav-item.dropdown .dropdown_nav {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  display: none;
}
.site_navbar_mobile_nav .nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item {
  color: #ffffff;
  font-family: "Circular Book";
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 10px;
  border-top: 1px solid crimson;
}
.site_navbar_mobile_nav .nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item:first-child {
  border-top: 0;
}
.site_navbar_mobile_nav .nav .nav-item.dropdown .dropdown_nav .dropdown_nav_item:hover {
  background: linear-gradient(90deg, #0a8d90 0%, #58ca2d 100%);
}
.site_navbar_mobile_nav .nav .nav-link {
  font-family: "Circular Book";
  font-size: 1.2rem;
  color: #ffffff;
  padding: 20px;
}
.site_navbar_mobile_nav .nav .nav-link span {
  margin-left: 5px;
}
.site_navbar_mobile_nav .nav .nav-link:hover {
  color: #0a8d90;
}

@media (max-width: 972px) {
  .navbar_wrapper .site_navbar_brand {
    flex: 1;
  }
  .navbar_wrapper .site_navbar_brand .mobileNavToggler {
    display: block !important;
  }
  .navbar_wrapper .site_navbar_nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .site_navbar_mobile_nav {
    width: 100%;
  }
}
.hero_wrapper {
  background: #ffffff url("../img/aussie-hero-image.png") no-repeat top center scroll;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.hero_wrapper .card {
  border-radius: 1rem;
  overflow: hidden;
  transition-property: background, color;
  transition-duration: 1s;
}
.hero_wrapper .card .card-body h2 {
  font-family: "Circular Bold";
  margin-bottom: 0.5rem;
}
.hero_wrapper .card .card-body h5 {
  font-family: "Nitti Grotesk Semi";
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .hero_wrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 414px) {
  .hero_wrapper {
    height: 90vh;
    padding-bottom: 2.5rem;
  }
  .hero_wrapper .card-body h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 380px) {
  .hero_wrapper {
    height: 70vh;
    padding-bottom: 2.5rem;
  }
  .hero_wrapper .card-body h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 374px) {
  .hero_wrapper {
    height: 90vh;
    padding-bottom: 2rem;
  }
  .hero_wrapper .card-body h2 {
    font-size: 2rem;
  }
}
.service_wrapper .card {
  position: relative;
  cursor: pointer;
  top: 0;
  transition-property: top;
  transition-duration: 0.5s;
  border-radius: 10px;
  overflow: hidden;
}
.service_wrapper .card:hover {
  border-bottom: 3px solid #ca302d !important;
  top: -10px;
}
.service_wrapper .card:hover .card-img-top .service_icon {
  left: 50%;
  transform: translateX(-50%);
}
.service_wrapper .card .card-img-top img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.service_wrapper .card .card-img-top .service_icon {
  background: #ffffff;
  padding: 1rem 1.4rem;
  bottom: -20px;
  left: 20px;
  border-radius: 50%;
  transition-duration: 0.5s;
  transition-property: left;
}
.service_wrapper .card .card-body h5 {
  font-family: "Circular Bold";
}
.service_wrapper .card .card-body p {
  font-family: "Nitti Grotesk Semi";
  font-size: 1.1rem;
}

.calculation_wrapper .card {
  background: #ffffff url("../img/Home-Loan.jpg") no-repeat top center scroll;
  background-size: cover;
  object-fit: cover;
  border-radius: 1rem;
  overflow: hidden;
}
.calculation_wrapper .card .card-body h1 {
  font-family: "Circular Bold";
  margin-bottom: 1.5rem;
}

.banner_section {
  width: 100%;
  height: 300px;
  background: url("../img/Home-Loan.jpg") no-repeat top center fixed;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
.banner_section:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #900a22 0%, rgba(202, 48, 45, 0.4402135854) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.footer_wrapper .footer_item h5 {
  font-family: "Circular Book";
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 1.5rem;
}
.footer_wrapper .footer_item h5::after {
  content: "";
  width: 10%;
  height: 2px;
  background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer_wrapper .footer_item .nav .nav-item {
  margin-bottom: 5px;
}
.footer_wrapper .footer_item .nav .nav-item:last-child {
  margin-bottom: 0;
}
.footer_wrapper .footer_item .nav .nav-item .nav-link {
  font-family: "Nitti Grotesk Semi";
  padding: 0;
}
.footer_wrapper .copyright p {
  font-family: "Nitti Grotesk Semi";
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  text-align: justify;
}

.contact_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity;
  transition-duration: 2s;
}
.contact_wrapper .contact_modal {
  width: 70%;
  height: 80%;
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.contact_wrapper .contact_modal .contact_modal_close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
}
.contact_wrapper .contact_modal .contact_modal_close .btn {
  border-bottom-left-radius: 15px;
}
.contact_wrapper .contact_modal .contact_modal_content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.contact_wrapper .contact_modal .contact_modal_content .modal_title {
  font-family: "Circular Bold";
}
.contact_wrapper .contact_modal .contact_modal_content .modal_suggestion {
  font-family: "Nitti Grotesk Semi";
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body h6 {
  font-family: "Circular Book";
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body .form-group label {
  font-family: "Nitti Grotesk Semi";
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body .form-group .form-control {
  font-family: "Nitti Grotesk Semi";
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body .form-group .contact_form_check {
  display: inline-block;
  font-family: "Nitti Grotesk Semi";
  padding: 0.4rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid #000000;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body .form-group .contact_form_check input[type=checkbox], .contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-body .form-group .contact_form_check input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: 0;
}
.contact_wrapper .contact_modal .contact_modal_content #contactFormAccordion .card .card-footer {
  text-align: right;
  background: #ffffff;
}

@media (max-width: 767px) {
  .contact_modal {
    width: 95% !important;
  }
}

/*# sourceMappingURL=style.css.map */
